:root {
  --originVertical: 0%;
  --originHorizontal: 0%;
  --perspectiveValue: 1000px;
}

body {
  margin: au;
}

.container-to-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 500px;

  perspective-origin: var(--originHorizontal) var(--originVertical);

  border: 1px solid black;
}

.container.with-perspective {
  perspective: var(--perspectiveValue);
}

.controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.controller-container__inner-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-label {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 20px;

  padding: 5px 10px 5px 10px;

  width: 120px;
}

.button-label:hover {
  background-color: lightgray;
  cursor: pointer;
}

.button-label.checked {
  background-color: black;
  color: white;
}

.toggle-input {
  display: none;
}

.cube {
  position: relative;

  width: 200px;
  height: 200px;

  transform-style: preserve-3d;
}

.cube.animated {
  animation: cubeRotate 5s ease-in-out infinite;
}

@keyframes cubeRotate {
  from {
    transform: rotateX(0) rotateY(360deg) rotateZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(0deg) rotateZ(720deg);
  }
}

.side {
  width: 100%;
  height: 100%;

  position: absolute;

  border: 2px solid white;
}

.front {
  background-color: yellow;
  transform: translateZ(100px);
}

.rear {
  background-color: red;
  transform: translateZ(-100px);
}

.top {
  background-color: blue;
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background-color: purple;
  transform: rotateX(90deg) translateZ(-100px);
}

.left {
  background-color: green;
  transform: rotateY(90deg) translateZ(-100px);
}

.right {
  background-color: black;
  transform: rotateY(90deg) translateZ(100px);
}
