:root {
  --originVertical: 0%;
  --originHorizontal: 0%;
  --perspectiveValue: 1000px;
}

body {
  margin: au;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.container-to-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 500px;

  perspective: var(--perspectiveValue);
  perspective-origin: var(--originHorizontal) var(--originVertical);

  border: 1px solid black;
}

.cube {
  position: relative;

  width: 200px;
  height: 200px;

  transform-style: preserve-3d;

  animation: cubeRotate 5s ease-in-out infinite;
}

@keyframes cubeRotate {
  from {
    transform: rotateX(0) rotateY(360deg) rotateZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(0deg) rotateZ(720deg);
  }
}

.side {
  width: 100%;
  height: 100%;

  position: absolute;

  border: 5px solid white;
}

.front {
  background-color: yellow;
  transform: translateZ(100px);
}

.rear {
  background-color: red;
  transform: translateZ(-100px);
}

.top {
  background-color: blue;
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background-color: purple;
  transform: rotateX(90deg) translateZ(-100px);
}

.left {
  background-color: green;
  transform: rotateY(90deg) translateZ(-100px);
}

.right {
  background-color: black;
  transform: rotateY(90deg) translateZ(100px);
}
